.coin-info-heading{
    margin: 1rem;
    
}

.coin-info-desc{
    cursor: pointer;
    margin: 1rem;
}

.coin-info-desc a{
    text-decoration: underline !important;
}

.coin-info-desc a:hover{
    color: var(--blue) !important;
}